{% extends 'base.html.twig' %}

{% block title %}Product Manager{% endblock %}

{% block content %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>PriceHT</th>
                <th>Available</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}

                <tr>
                    <td><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.id }}</a></td>
                    <td><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.Name }}</a></td>
                    <td><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.Description }}</a></td>
                    <td><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.PriceHT }}</a></td>
                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.Available ? 'Yes' : 'No' }}</a>
                    </td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>

                </tr>

            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
